<div class="video-container">
  <video src="images/fire3.mp4" autoplay muted loop></video>
</div>
<div class="container content mt-5">
  <div class="row">
    {{#each characters as |character| }}

    <div class="characterItem" data-id="{{character.id}}">
      <i class="fas fa-trash-alt"></i>
      <h3 data-id="{{character.id}}">{{character.name}}</h3>
      <p data-id="{{character.id}}">{{character.race}}</p>
      <p data-id="{{character.id}}">{{character.class}}</p>
    </div>


    {{/each}}
  </div>
</div>


<script src="assets/js/multiple.js"></script>